<div class="header">
  <img
    [src]="logo"
    alt="logo"
    class="header__image"
    (click)="navigateToHomePage()"
  />
  <div class="header__items">
    <div class="header__item" (click)="navigateToMoviesPage()">Movies</div>
    <div class="header__item" (click)="navigateToTvSeriesPage()">TV Shows</div>
    <div class="header__item">Celebs</div>
  </div>
  <div class="header__input">
    <input
      placeholder="Search"
      class="header__input-inpt"
      [value]="searchQuery"
      (input)="onSearchInput($event)"
    />
    <img [src]="magnifier" alt="Search" class="header__input-image" />
  </div>
  <ul *ngIf="searchResults.length" class="header__search-dropdown">
    <li *ngFor="let item of searchResults" (click)="onClickItem(item)">
      <div class="header__search-dropdown--item">
        @if (item.media_type === "movie" || item.media_type === "tv") {
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path"
            alt="poster"
            class="header__search-dropdown--image"
          />
          <p class="header__search-dropdown--title">
            {{ item.name || item.title }}
          </p>
        } @else if (item.media_type === "person") {
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + item.profile_path"
            alt="poster"
            class="header__search-dropdown--image"
          />
          <p class="header__search-dropdown--title">
            {{ item.name }}
          </p>
        }
      </div>
    </li>
  </ul>
  <div class="header__multiple">
    <img [src]="watchlist" alt="Watchlist" class="header__multiple-image" />
    <p class="header__multiple-text">Watchlist</p>
  </div>
  <div class="header__multiple" (click)="navigateToAccountPage()">
    <img [src]="userIcon" alt="user" class="header__multiple-image" />
    <p class="header__multiple-text">{{ userName }}</p>
  </div>
</div>
