<app-header></app-header>
@if (media) {
  <div class="media">
    <div class="media__header">
      <div class="media__header-left">
        <p class="media__title">{{ media.title || media.name }}</p>
        <div class="media__header-info">
          <p>{{ releaseDate }}</p>
          <p>{{ contentRating }}</p>
          <p>{{ mediaLongevity }}</p>
        </div>
      </div>
      <div class="media__header-right">
        <button class="media__header-rate" (click)="toggleRating()">
          <img [src]="starButton" alt="rate" />
          <p>{{ rateText }}</p>
        </button>
        <div class="media__header-rate">
          <img [src]="filledStarButton" alt="rate" />
          <p>
            {{ media.vote_average!.toString().slice(0, 3) }}/10
            <span>({{ media.vote_count }})</span>
          </p>
        </div>
        <button
          class="media__header-watchlist"
          [ngClass]="
            isInWatchlistMain
              ? 'media__header-watchlist-in'
              : 'media__header-watchlist-not'
          "
          (click)="toggleWatchlistMain()"
        >
          {{ isInWatchlistMain ? "In watchlist" : "Add to watchlist" }}
        </button>
      </div>
      @if (isRatingModalOpen) {
        <div class="rating-modal-backdrop" (click)="closeRating()">
          <div class="rating-modal" (click)="$event.stopPropagation()">
            <h3>Rate the {{ this.mediaType }}</h3>
            <div class="rating-stars">
              @for (star of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track star) {
                <span
                  class="star"
                  [class.filled]="star <= selectedRating"
                  (click)="selectRating(star)"
                  >★</span
                >
              }
            </div>
            <div class="rating-buttons">
              <button
                (click)="submitRating()"
                [disabled]="selectedRating === 0"
              >
                Submit
              </button>
              <button (click)="closeRating()">Cancel</button>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="media__top">
      @if (media.poster_path) {
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + media.poster_path"
          alt="{{ media.title || media.name }}"
          class="media__poster-image"
        />
      } @else {
        <p class="media__poster-not-found">No poster</p>
      }
      @if (trailerUrl) {
        <iframe [src]="trailerUrl" width="100%" height="500" allowfullscreen>
        </iframe>
      } @else {
        <p>No trailer available</p>
      }
    </div>
    <div class="media__info">
      <div class="media__items">
        <p class="media__items-title info-title">Genres</p>
        @for (genre of media.genres; track genre) {
          <div class="media__items-genre">
            <p>{{ genre.name }}</p>
          </div>
        }
      </div>
      <div class="media__items">
        <p class="media__items-title info-title">Plot</p>
        <div class="media__items-item">
          <p>{{ media.overview }}</p>
        </div>
      </div>
      <app-media-show-page-credits
        [credits]="cast?.cast || []"
        (actorClick)="onPersonClick($event)"
      ></app-media-show-page-credits>
      <app-media-show-page-images
        [images]="mediaImages"
        [selectedSrc]="lightboxSrc"
        (imageClick)="openLightbox($event)"
        (close)="closeLightbox()"
      ></app-media-show-page-images>
      <app-media-show-page-similar
        [similars]="similarMedia!"
        [filledStarButton]="filledStarButton"
        [emptyStarButton]="emptyStarButton"
        [similarRatings]="similarRatings"
        [emptyBookmark]="notInWatchlistIcon"
        [filledBookmark]="inWatchListIcon"
        [mediaType]="mediaType"
        [watchlistMap]="watchlistMap"
        [initialModalId]="similarRatingModalOpenId"
        (mediaClick)="onSimilarMediaClick($event)"
        (toggleWatch)="toggleWatchListForSimilar($event)"
        (toggleRating)="toggleRatingForSimilar($event)"
        (ratingSubmit)="submitRatingForSimilar($event.item)"
      ></app-media-show-page-similar>
      <div class="media__reviews">
        <p class="media__reviews-title info-title">Reviews</p>
        <div class="media__reviews-items">
          @for (review of mediaReviews; track review) {
            <div class="media__reviews-item">
              <img
                [src]="
                  'https://image.tmdb.org/t/p/w500' +
                  review.author_details.avatar_path
                "
                alt="avatar"
                class="media__reviews-item--image"
              />
              <div class="media__reviews-item--info">
                <div class="media__reviews-item--top">
                  <p class="media__reviews-item--name">{{ review.author }}</p>
                  <span>{{ review.created_at.slice(0, 10) }}</span>
                </div>
                <p class="media__reviews-item--content">
                  {{ review.content }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
