.media__similar {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-items {
    display: flex;
    gap: 20px;
  }

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #151515;
    width: 150px;
    padding: 12px;
    border-radius: 12px;

    &--watchlist {
      position: absolute;
      top: 12px;
      left: 12px;
      cursor: pointer;

      img {
        width: 85%;
      }
    }

    &--poster {
      width: 100%;
      height: 190px;
      object-fit: cover;
      cursor: pointer;
    }

    &--title {
      color: #797979;
      margin-top: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
      width: 100%;
      cursor: pointer;

      &:hover {
        color: #c3c3c3;
        transition-duration: 0.3s;
      }
    }

    &--rates {
      margin-top: 14px;
      display: flex;
      justify-content: center;
      gap: 1rem;

      &-item {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;

        &--star {
          width: 1rem;
          height: 1rem;
        }
      }

      &-text {
        font-size: 0.9rem;
      }
    }
  }
}
