.media {
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #797979;
    font-size: 22px;
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }

  &__button {
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
